block foot
    script(src='js/jquery-1.8.3.min.js')
    script(src='js/lib/angular/angular.js')
    script(src='js/lib/angular/angular-route.js')
    script(src='js/lib/angular/angular-sanitize.min.js')
    script(src='js/lodash.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/bootstrap-select.js')
    script(src='js/bootstrap-switch.js')
    script(src='js/bootmetro-panorama.js')
    script(src='js/jquery.mousewheel.min.js')
    script(src='js/jquery.touchSwipe.min.js')
    script(src='js/jquery.slimscroll.min.js')
    script(src='js/checklist-model.js')
    script(src='js/html5shiv.js')
    script(src='js/jquery-ui-1.10.3.custom.min.js')
    script(src='js/jquery.tagsinput.js')
    script(src='js/jquery.stacktable.js')
    script(src='js/moment.min.js')
    script(src='js/angular-pouchdb.js')
    script(src='js/printThis.js')
    script(src='js/toPDF/jspdf.js')
    script(src="js/toPDF/lib/FileSaver.min.js")
    script(src="js/toPDF/lib/Blob.js")
    script(src="js/toPDF/jspdf.plugin.ie_below_9_shim.js")
    script(src="js/toPDF/jspdf.plugin.standard_fonts_metrics.js")
    script(src="js/toPDF/jspdf.plugin.sillysvgrenderer.js")
    script(src="js/toPDF/jspdf.plugin.split_text_to_size.js")
    script(src='js/toPDF/jspdf.plugin.from_html.js')
    script(src='js/toPDF/jspdf.PLUGINTEMPLATE.js')
    script(src='js/application.js')
    script(src='js/app.js')
    script(src='js/modules/lang.js')
    script(src='js/common/services/services.js')
    script(src='js/common/filters/filters.js')
    script(src='js/common/directives/directives.js')
    script(src='js/modules/dashboard/dashboard.js')
    script(src='js/modules/order/order.js')
    script(src='js/modules/reports/reports.js')
    script(src='js/modules/item/item.js')
    script(src='js/modules/bills/bills.js')
    script(src='js/modules/dispense/dispense.js')
    script(src='js/modules/supplier/supplier.js')
    script(src='js/modules/admin/admin.js')
    script(src='js/modules/stock/stock.js')
    script(src='js/extra/modal/classie.js')
    script(src='js/extra/modal/modalEffects.js')
    script(src='js/extra/modal/cssParser.js')
    script(src='js/extra/modal/css-filters-polyfill.js')