    <div class="vbox">
      <div class="wrapper-sm b-b">
        <div class="m-t-n-xxs m-b-n-xxs m-l-xs">
          <a class="btn btn-xs btn-default pull-right" ng-hide="!item" ng-click="deleteItem(item)"><i class="fa fa-times"></i></a>
          <a class="btn btn-xs btn-default" ng-hide="item.editing" ng-click="editItem(item)">Edit</a>
          <a class="btn btn-xs btn-default" ng-show="item.editing" ng-click="doneEditing(item)">Done</a>
        </div>
      </div>
      <div class="row-row">
        <div class="cell" ng-init="item.editing=true">
          <div class="cell-inner">
            <div class="wrapper-lg">
              <div class="hbox h-auto m-b-lg">
                <div class="col text-center w-sm">
                  <div class="thumb-lg avatar inline">
                    <img ng-src="{{item.avatar || 'img/a0.jpg'}}">
                  </div>
                </div>
                <div class="col v-middle h1 font-thin">
                  <div ng-hide="item.editing">{{item.itemName}}</div>
                  <div>
                    <input type="text" placeholder="Product Name" class="form-control w-auto input-lg m-b-n-xxs font-bold" ng-model="item.itemName" >
                  </div>
                </div>
              </div>
              <!-- fields -->
              <div class="form-horizontal">
                <div class="form-group m-b-sm" ng-hide="!item.description && !item.editing">
                  <label class="col-sm-3 control-label">Description</label>
                  <div class="col-sm-9">
                    <textarea type="text" class="form-control" ng-model="item.description" ></textarea>
                  </div>
                </div>
                <div class="form-group m-b-sm" ng-hide="!item.suppliers && !item.editing">
                  <label class="col-sm-3 control-label">Preffered Vendor</label>
                  <div class="col-sm-9">
                    <p class="form-control-static" ng-hide="item.editing">{{item.suppliers}}</p>
                    <input type="text" class="form-control" ng-model="item.suppliers" >
                  </div>
                </div>
                <div class="form-group m-b-sm" ng-hide="!item.manufacturerName && !item.editing">
                  <label class="col-sm-3 control-label">Manufacturer</label>
                  <div class="col-sm-9">
                    <p class="form-control-static" ng-hide="item.editing">{{item.manufacturerName}}</p>
                    <input type="text" class="form-control" ng-model="item.manufacturerName" >
                  </div>
                </div>
                <div class="form-group m-b-sm" ng-hide="!item.itemBoilingPoint && !item.editing">
                  <label class="col-sm-3 control-label">Reorder Level</label>
                  <div class="col-sm-9">
                    <p class="form-control-static" ng-hide="item.editing">{{item.itemBoilingPoint}}</p>
                    <input class="form-control" ng-model="item.itemBoilingPoint">
                  </div>
                </div>
                <div class="form-group m-b-sm" ng-hide="!item.itemSellingRate && !item.editing">
                  <label class="col-sm-3 control-label">Selling Rate</label>
                  <div class="col-sm-9">
                    <p class="form-control-static" ng-hide="item.editing">{{item.itemSellingRate}}</p>
                    <input class="form-control" ng-model="item.itemSellingRate">
                  </div>
                </div>
              </div>
              <!-- / fields -->
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper b-t text-left">
        <a href="#/items/app/add" class="btn btn-sm btn-default btn-addon" ui-sref="items.app.add"><i class="fa fa-plus fa-fw m-r-xs"></i> New Variation</a>
      </div>
    </div>