    <div class="vbox">
      <div class="wrapper-sm b-b">
        <div class="m-t-n-xxs m-b-n-xxs m-l-xs">
          <a class="btn btn-xs btn-default pull-right" ng-hide="!item" ng-click="deleteItem(item)"><i class="fa fa-times"></i></a>
          <a class="btn btn-xs btn-default" ng-hide="item.editing" ng-click="editItem(item)">Edit</a>
          <a class="btn btn-xs btn-default" ng-show="item.editing" ng-click="doneEditing(item)">Done</a>
        </div>
      </div>
      <div class="row-row">
        <div class="cell">
          <div class="cell-inner">
            <div class="wrapper-lg">
              <div class="hbox h-auto m-b-lg">
                <div class="col text-center w-sm">
                  <div class="thumb-lg avatar inline">
                    <img ng-src="{{item.avatar}}" ng-show="item.avatar">
                  </div>
                </div>
                <div class="col v-middle h1 font-thin">
                  <div ng-hide="item.editing">{{item.productName}}</div>
                  <div ng-show="item.editing">
                    <input type="text" placeholder="First" class="form-control w-auto input-lg m-b-n-xxs font-bold" ng-model="item.productName" >
                  </div>
                </div>
              </div>
              <!-- fields -->
              <div class="form-horizontal">
                <div class="form-group m-b-sm" ng-hide="!item.description && !item.editing">
                  <label class="col-sm-3 control-label">Description</label>
                  <div class="col-sm-9">
                    <p class="form-control-static" ng-hide="item.editing">{{item.description}}</p>
                    <textarea type="text" class="form-control" ng-show="item.editing" ng-model="item.description" ></textarea>
                  </div>
                </div>
                <div class="form-group m-b-sm" ng-hide="!item.suppliers && !item.editing">
                  <label class="col-sm-3 control-label">Preffered Vendor</label>
                  <div class="col-sm-9">
                    <p class="form-control-static" ng-hide="item.editing">{{item.suppliers}}</p>
                    <input type="text" class="form-control" ng-show="item.editing" ng-model="item.suppliers" >
                  </div>
                </div>
                <div class="form-group m-b-sm" ng-hide="!item.work && !item.editing">
                  <label class="col-sm-3 control-label">Tax Code</label>
                  <div class="col-sm-9">
                    <p class="form-control-static" ng-hide="item.editing">{{item.work}}</p>
                    <input type="text" class="form-control" ng-show="item.editing" ng-model="item.work" >
                  </div>
                </div>
                <div class="form-group m-b-sm" ng-hide="!item.manufacturerName && !item.editing">
                  <label class="col-sm-3 control-label">Manufacturer</label>
                  <div class="col-sm-9">
                    <p class="form-control-static" ng-hide="item.editing">{{item.manufacturerName}}</p>
                    <input type="text" class="form-control" ng-show="item.editing" ng-model="item.manufacturerName" >
                  </div>
                </div>
                <div class="form-group m-b-sm" ng-hide="!item.itemBoilingPoint && !item.editing">
                  <label class="col-sm-3 control-label">Reorder Level</label>
                  <div class="col-sm-9">
                    <p class="form-control-static" ng-hide="item.editing">{{item.itemBoilingPoint}}</p>
                    <textarea class="form-control" ng-show="item.editing" ng-model="item.itemBoilingPoint" rows="5"></textarea>
                  </div>
                </div>
                <div class="form-group m-b-sm" ng-hide="!item.itemSellingRate && !item.editing">
                  <label class="col-sm-3 control-label">Selling Rate</label>
                  <div class="col-sm-9">
                    <p class="form-control-static" ng-hide="item.editing">{{item.itemSellingRate}}</p>
                    <textarea class="form-control" ng-show="item.editing" ng-model="item.itemSellingRate" rows="5"></textarea>
                  </div>
                </div>
              </div>
              <!-- / fields -->
            </div>
          </div>
        </div>
      </div>
    </div>