<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.HEADER">Navigation</span>
  </li>
  <li ui-sref-active="active">
        <a ui-sref="items.app">
          <i class="glyphicon glyphicon-th-list"></i>
          <span class="font-bold">All Items</span>
        </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.calendar">
      <i class="glyphicon glyphicon-shopping-cart"></i>
      <span class="font-bold">Orders</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.mail.list">
      <i class="glyphicon glyphicon-stats"></i>
      <span class="font-bold">Reports</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.mail.list">
      <i class="glyphicon glyphicon-import"></i>
      <span class="font-bold" >Suppliers</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.mail.list">
      <i class="glyphicon glyphicon-cog"></i>
      <span class="font-bold">Settings</span>
    </a>
  </li>

</ul>
<!-- / list -->